{
  "*.{js,cjs,mjs,ts,tsx,jsx}": "prettier --write",
  "*.{json,jsonc,yml,yaml,md,css,html}": "prettier --write",
  "*.{js,cjs,mjs,ts,tsx,jsx,json,jsonc,yml,yaml,md,txt,env,example}": "secretlint --maskSecrets"
}
